<div class="hangman">
    <app-hangman-display (gameFinished)="onGameFinished()" [guesses]="guesses" [question]="question">
    </app-hangman-display>
    <ng-container *ngIf="!restartGameBtnShown else restartGameBtn">
        <app-hangman-question [guesses]="guesses" [question]="question"></app-hangman-question>
        <app-hangman-keyboard (keyPressed)="guess($event)" [question]="question"></app-hangman-keyboard>
    </ng-container>
</div>
<div class="restart">
    <ng-template #restartGameBtn>
        <button class="btn1" (click)="reset()">Restart Game</button>
        <button class="btn2" routerLink="/5">Move On</button>
    </ng-template>
</div>