body {
    
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    background-color: black;
}

div.instructions {
    text-align: center;
    color: aliceblue;
    animation-name: disappear;
    animation-duration: 0.5s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    cursor: default;
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#click {
    position: relative;
    size: small;
    border: transparent;
    opacity: 0;
    animation-name: opacityOnAndOff;
    animation-duration: 0.2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    cursor: default;
}

.reset {
    text-align: center;
    opacity: 0;

    animation-name: appear;
    animation-duration: 0.5s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    cursor: default;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacityOnAndOff {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}