.container {
    margin-top: 100px;
}
h1 {
    text-align: center;
    color: #a47e24ee;
    transition: .5s; 
    -moz-transition: .5s; 
    -webkit-transition: .5s; 
    -o-transition: .5s; 
    font-family: 'Muli', sans-serif;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}