<app-nav></app-nav>
<div class="container">
    <h1>Where I Started</h1>
    <p>
        My name is Alec Powell. I am from a small town in South Carolina named Clinton. I attended Presbyterian College,
        which was located in my hometown, and graduated in 2017 with a Bachelor’s of Arts having majored in Christian
        Education and minored in Chemistry.
    </p>
    <h1>Where I Went</h1>
    <p>
        After graduating I accepted a job in Moultrie, GA as the Director of Christian Education for a small church in the
        town. I spent exactly one year in Moultrie before I was accepted to Seminary and moved to Richmond, VA in 2018 to
        begin my Master of Divinity degree. I graduated in May of 2021, and had no idea what I was going to do with the
        degree. I enjoyed the research, and learning I had done throughout, but I never enjoyed the amount of writing that
        was required. Which meant seeking a doctorate was pretty much out of the question. I also wasn't interested in
        working in another parish. I had already done this, and I wasn't interested in returning. During this time I became
        interested in programming. It started as something I would just mess around with, learning how to print words into a
        web app, etc. Just little things that I found entertaning or fun. However, I found myself spending more and more
        time working on improving my skills, until it became the thing that I wanted to do in my free time.
    </p>
    <h1>Where I Am Now</h1>
    <p> Now, I've taken courses in HTML, CSS, JavaScript, and C#. I've taken a course on ASPNET Core and built a working
        dating app using the .Net 6 framework. I'm thoroughly enjoying what I've done and what I'm continuing to develop. At
        this point I'm hoping that my next full-time position will be an entry level level role as a .Net developer. Feel
        free to reach out to me at <a href="mailto: alecpow@gmail.com">alecpow@gmail.com</a> for any
        inquiries.
    </p>
</div>