<p>1.<a href="https://icebroken.herokuapp.com/">https://icebroken.herokuapp.com/</a> This is a dating app I built using
    Asp. Net 6, C#, JavaScript, HTML, CSS, and PostgreSQL. This app was part of a course and my first project.</p>
<p>2. This website has been my second project. It is the first project I've had that was outside of a course, and
    therefore had free reign to do whatever I wanted. It has also been a learning process, and has required a lot of
    review of what I covered in the course. However, I'm proud of what it is and what I hope it grows to become.</p>