h1 {
  font-family: Lucida Handwriting;
  font-size: 70px;
  display: inline;
}

h2 {
  font-family: Lucida Handwriting;
  font-size: 70px;
  display: inline;
  cursor: pointer;
}
  
  @keyframes change {
    from {
        font-size: 20px;
        color: currentColor;
    }
  
    to {
        font-size: 70px;
        color: blue;
    }
  }