<app-nav></app-nav>
<div class="container">
    <div style="text-align: center">

        <h1 class="coolLetters">
            <span class="wordPop">H</span>
            <span class="wordPop">e</span>
            <span class="wordPop">l</span>
            <span class="wordPop">l</span>
            <span class="wordPop">o</span>
            <span class="wordPop">.</span>
            <span class="wordPop">I</span>
            <span class="wordPop">'</span>
            <span class="wordPop">m</span>
            <span class="wordPop">A</span>
            <span class="wordPop">l</span>
            <span class="wordPop">e</span>
            <span class="wordPop">c</span>
            <span class="wordPop">.</span>
        </h1>
        
        <p class="lead">Welcome to my website!</p>
        <p>There is currently 1 puzzle afoot. Have fun exploring!</p>
    </div>
    <img src="https://res.cloudinary.com/dlryjpjaw/image/upload/v1646852377/Rock.Climbing.Animated.Final_fm333h.png"
        alt="Rock Climbing" usemap="#climbing">
    <map name="climbing">
        <area alt="1" title="Puzzle 1" href="puzzle1"
            coords="79,532,48,510,32,490,39,486,51,492,62,494,70,492,74,501,76,511,86,511,84,519,84,526" shape="poly">
    </map>
</div>